// Colors
$white:#fff;
$default:#434343;
$black: #353535;
$main-blue:#2bc1dc;
$homepage-blue: #91d7ed;
$baby-blue: #7cebff;
$block-blue: #e0faff;
$pale-blue: #c9e6eb;
$light-blue: #c4fffd;
$hover:#0e7a8c;
$turq: #2c92ab;
$highlight:#ff5297;
$bold-red: #eb3652;
$lime-green: #bff322;
$question-green: #afcf52;
$another-green:#b0d24a;
$light-green: #d8ff62;
$link-green: #8fc047;
$dark-grey: #353535;
$darker-grey: #231f20;
$darkest-grey: #3d3d3d;
$placeholder:#7f7f7f;
$hr-col: #d7d7d7;
$bold-grey:#6f6f6f;
$another-grey: #8a8a8a;
$light-grey:#e6e6e6;
$footer-grey: #b5b5b5;
$footer-light-grey: #efefef;

$fb-blue: #44619d;
$tw-blue: #53a4d5;


$gold: #c09853;
$error: #eed3d7;
$success: #468847;
$success-border: #d6e9c6;

// Sizes
$footer-height:263px;
$header-height:105px;
$subheader-height: 344px;

$width:940px;
$tablet-width: 768px;
$mobile-width: 100%;
$block-width: 240px;

// transitions
$transition-timing: 0.2s;
$transition-function: ease-in-out;
